<h2>PROGRAM M-DIRECT</h2>
<p>PT Moelti Direct Transaction (M-Direct), sebuah perusahaan IT dan aplikasi yang memfokuskan kegiatan usahanya pada pelaku UMKM Indonesia. M-Direct memiliki beberapa program usaha yang terintegrasi untuk mencapai tujuan utama yaitu berkontribusi positif dalam mengembangkan UMKM Indonesia. Dengan semangat Sociopreneur, kami hadir untuk memberikan solusi bagi pelaku UMKM dalam konsep digital.</p>

<h3>SAHABAT UMKM</h3>
<p>Dengan prinsip komunikasi positif dan saling membangun, Sahabat UMKM menjadi sarana bagi para pelaku usaha untuk saling berkontribusi, menyampaikan pemikiran dan pengalaman dalam membangun serta mengembangkan jaringan usaha. Sahabat UMKM merupakan komunitas yang mempertemukan antara Pelaku UMKM dan Profesional Kewirausahaan.</p>

<h3>M-NEWS</h3>
<p>Portal berita yang khusus membahas tren dan produk UMKM serta profil kewirausahaan di Indonesia. Melalui M-News, pelaku UMKM dapat menggali informasi yang lebih dalam mengenai tips kewirausahaan, informasi seputar dunia UMKM, dan informasi mengenai kekayaan intelektual produk-produk anak bangsa.</p>

<h3>PASAR KITA</h3>
<p>Merupakan Aplikasi Perdagangan Elektronik (e-commerce) yang memfasilitasi pelaku UMKM dalam memasarkan produknya dan bertransaksi dengan konsep digital. Dengan jangkauan area pemasaran yang masif dan global, Pasar Kita berpeluang untuk menjadikan produk Indonesia semakin dikenal dan menjangkau pemasaran yang lebih luas. Konsumen akan mendapatkan manfaat akan kebutuhan barang yang lebih ekonomis, karena Pasar Kita menyediakan produk langsung dari pelaku UMKM.</p>

<h3>INKUBASI BISNIS</h3>
<p>Program ini didesain untuk membina, meningkatkan kualitas, dan mempercepat keberhasilan individu maupun badan usaha dalam meraih target usahanya. Pelaksanaan program akan berupa pendidikan dan pelatihan dengan menggunakan metode yang praktis, kekinian, dan terintegrasi dengan program pemerintah.</p>

<h2>PENJELASAN LEBIH LANJUT TENTANG SAHABAT UMKM</h2>
<p>Sahabat UMKM merupakan sebuah komunitas bagi para pelaku UMKM yang memfokuskan kegiatannya pada usaha untuk membangun serta mengembangkan para pelaku usaha melalui wadah interaksi dan pembinaan dari, oleh, dan untuk para pelaku UMKM itu sendiri.</p>

<p>Sahabat UMKM berusaha untuk berperan sebagai konektor dan fasilitator antara pelaku UMKM Indonesia dengan lembaga/instansi pemerintah serta swasta, sehingga program-program yang terkait dengan usaha pengembangan UMKM bisa tersalurkan dengan tepat sesuai kebutuhan pelaku UMKM Indonesia.</p>

<h3>Visi Sahabat UMKM</h3>
<p>Mewujudkan UMKM Indonesia yang profesional dan berdaya saing di pasar lokal maupun internasional, sebagai pilar ekonomi bangsa Indonesia.</p>

<h3>Misi Sahabat UMKM</h3>
<ul>
    <li>Menjadi wadah sosialisasi, komunikasi, dan berbagi ilmu antara para pelaku UMKM Indonesia.</li>
    <li>Menjembatani pelaku UMKM Indonesia dengan pihak pemerintah dan swasta yang memiliki program bantuan dan pembinaan UMKM.</li>
    <li>Membawa UMKM Indonesia ke pasar digital.</li>
</ul>
