<p>Silahkan isi formulir dibawah ini untuk registrasi kemitraan dengan M-Direct.</p>
<p>Terdapat 2 bagian formulir yang harus Anda isi yaitu data pribadi Anda kemudian data usaha Anda. Jika Anda sudah pernah mendaftarkan diri Anda silahkan <strong><a href="#">klik disini</a></strong> untuk melewati formulir data pribadi dan melanjutkan ke formulir data usaha.</p>
<p>(<span style="color: red">*</span>) wajib diisi.</p>
<p></p>
<div class="col-lg-12">
    <!--begin::Form-->
    <form class="m-form m-form--label-align-right">
        <div class="m-form__section m-form__section--first">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">
                    Data Pribadi Pemilik Usaha:
                </h3>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    <span style="color: red">*</span> Nama Lengkap:
                </label>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Nama Depan" required>
                            <span class="m-form__help">
                                Nama Depan
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Nama Belakang" required>
                            <span class="m-form__help">
                                Nama Belakang
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    <span style="color: red">*</span> Email:
                </label>
                <div class="col-lg-9">
                    <input type="email" class="form-control m-input" placeholder="Email" required>
                    <span class="m-form__help">
                        Email
                    </span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    <span style="color: red">*</span> No. Telp / Handphone:
                </label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control m-input" placeholder="Kode Area" required>
                            <span class="m-form__help">
                                Kode Area
                            </span>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control m-input" placeholder="No. Telp / Handphone" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    <span style="color: red">*</span> No. KTP:
                </label>
                <div class="col-lg-7">
                    <input type="text" class="form-control m-input" placeholder="No. KTP" required>
                    <span class="m-form__help">
                        No. KTP
                    </span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    <span style="color: red">*</span> Alamat Sesuai KTP:
                </label>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" class="form-control m-input" placeholder="Alamat sesuai KTP" required>
                            <span class="m-form__help">
                                Alamat Sesuai KTP
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="number" class="form-control m-input" placeholder="RT" required>
                                    <span class="m-form__help">
                                        RT
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <input type="number" class="form-control m-input" placeholder="RW" required>
                                    <span class="m-form__help">
                                        RW
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control m-input" placeholder="Kode Pos" required>
                                    <span class="m-form__help">
                                        Kode Pos
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Kelurahan" required>
                            <span class="m-form__help">
                                Kelurahan
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Kecamatan" required>
                            <span class="m-form__help">
                                Kecamatan
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Kabupaten/Kota" required>
                            <span class="m-form__help">
                                Kabupaten/Kota
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    <span style="color: red">*</span> Alamat Tempat Tinggal:
                </label>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" class="form-control m-input" placeholder="Alamat Tempat Tinggal" required>
                            <span class="m-form__help">
                                Alamat Tempat Tinggal
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="number" class="form-control m-input" placeholder="RT" required>
                                    <span class="m-form__help">
                                        RT
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <input type="number" class="form-control m-input" placeholder="RW" required>
                                    <span class="m-form__help">
                                        RW
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control m-input" placeholder="Kode Pos" required>
                                    <span class="m-form__help">
                                        Kode Pos
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Kelurahan" required>
                            <span class="m-form__help">
                                Kelurahan
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Kecamatan" required>
                            <span class="m-form__help">
                                Kecamatan
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Kabupaten/Kota" required>
                            <span class="m-form__help">
                                Kabupaten/Kota
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    <span style="color: red">*</span> Pendidikan Terakhir:
                </label>
                <div class="col-lg-9">
                    <input type="text" class="form-control m-input" placeholder="Pendidikan Terakhir" required>
                    <span class="m-form__help">
                        Pendidikan Terakhir
                    </span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    <span style="color: red">*</span> Asosiasi / Komunitas:
                </label>
                <div class="col-lg-9">
                    <input type="text" class="form-control m-input" placeholder="Asosiasi / Komunitas" required>
                    <span class="m-form__help">
                        Asosiasi / Komunitas
                    </span>
                </div>
            </div>
        </div>
        <div class="m-form__seperator m-form__seperator--dashed"></div>
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">
                Data Usaha:
            </h3>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                <span style="color: red">*</span> Nama Badan Usaha:
            </label>
            <div class="col-lg-9">
                <input type="text" class="form-control m-input" placeholder="Nama Badan Usaha" required>
                <span class="m-form__help">
                    Nama Badan Usaha
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                <span style="color: red">*</span> Jenis Bidang Usaha:
            </label>
            <div class="col-lg-7">
                <input type="text" class="form-control m-input" placeholder="Jenis Bidang Usaha" required>
                <span class="m-form__help">
                    Jenis Bidang Usaha
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                <span style="color: red">*</span> Nama Bisnis:
            </label>
            <div class="col-lg-9">
                <input type="text" class="form-control m-input" placeholder="Nama Bisnis" required>
                <span class="m-form__help">
                    Nama Bisnis
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                <span style="color: red">*</span> Jabatan Bisnis:
            </label>
            <div class="col-lg-9">
                <input type="text" class="form-control m-input" placeholder="Jabatan Bisnis" required>
                <span class="m-form__help">
                    Jabatan Bisnis
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                <span style="color: red">*</span> Deskripsi Usaha:
            </label>
            <div class="col-lg-9">
                <textarea class="form-control m-input" placeholder="Deskripsi Usaha" required></textarea>
                <span class="m-form__help">
                    Deskripsi Usaha
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                <span style="color: red">*</span> Lama Berdisi:
            </label>
            <div class="col-lg-9">
                <input type="text" class="form-control m-input" placeholder="Lama Berdiri" required>
                <span class="m-form__help">
                    Lama Berdiri Usaha
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                <span style="color: red">*</span> Omzet 1 Tahun Terakhir:
            </label>
            <div class="col-lg-9">
                <input type="text" class="form-control m-input" placeholder="Omzet 1 Tahun Terakhir" required>
                <span class="m-form__help">
                    Omzet 1 Tahun Terakhir
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                <span style="color: red">*</span> Alamat Usaha:
            </label>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control m-input" placeholder="Alamat Tempat Tinggal" required>
                        <span class="m-form__help">
                            Alamat Usaha
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="number" class="form-control m-input" placeholder="RT" required>
                                <span class="m-form__help">
                                    RT
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <input type="number" class="form-control m-input" placeholder="RW" required>
                                <span class="m-form__help">
                                    RW
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control m-input" placeholder="Kode Pos" required>
                                <span class="m-form__help">
                                    Kode Pos
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control m-input" placeholder="Kelurahan" required>
                        <span class="m-form__help">
                            Kelurahan
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control m-input" placeholder="Kecamatan" required>
                        <span class="m-form__help">
                            Kecamatan
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control m-input" placeholder="Kabupaten/Kota" required>
                        <span class="m-form__help">
                            Kabupaten/Kota
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                Website:
            </label>
            <div class="col-lg-9">
                <input type="text" class="form-control m-input" placeholder="Website">
                <span class="m-form__help">
                    Website
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                Social Media:
            </label>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control m-input" placeholder="Facebook">
                            <span class="input-group-addon">
                                <i class="fa fa-facebook-official"></i>
                            </span>
                        </div>
                        <span class="m-form__help">
                            Facebook
                        </span>
                        </div>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control m-input" placeholder="Instagram">
                            <span class="input-group-addon">
                                <i class="fa fa-instagram"></i>
                            </span>
                        </div>
                        <span class="m-form__help">
                            Instagram
                        </span>
                        </div>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control m-input" placeholder="Twitter">
                            <span class="input-group-addon">
                                <i class="fa fa-twitter"></i>
                            </span>
                        </div>
                        <span class="m-form__help">
                            Twitter
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                Upload KTP:
            </label>
            <div class="col-lg-9">
                <input type="file" class="form-control m-input" placeholder="Upload KTP" required>
                <span class="m-form__help">
                    Upload KTP
                </span>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
                Upload NPWP:
            </label>
            <div class="col-lg-9">
                <input type="file" class="form-control m-input" placeholder="Upload NPWP" required>
                <span class="m-form__help">
                    Upload NPWP
                </span>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                        <button type="reset" class="btn btn-primary">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>