<div class="col-xl-12">
    <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Application Sales
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_form" id="btn_tambah_data">
                            Tambah Data
                        </button>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin::Widget 11-->
            <div class="m-widget11">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table  class="table-striped" id="table_data">
                        <!--begin::Thead-->
                        <thead>
                            <tr>
                                <td class="m-widget11__label">
                                    No
                                </td>
                                <td class="m-widget11__app">
                                    Agama
                                </td>
                                <td class="m-widget11__total m--align-right">
                                    Action
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                                    
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="modal_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Modal title
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="m_agama_id">
                                    <label for="nama_agama" class="form-control-label">
                                       Nama
                                    </label>
                                    <input type="text" class="form-control" id="nama_agama">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_kembali">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" id="btn_simpan_data">
                                    Simpan Data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/assets/app/js/tables/jquery.dataTables.min.js" type="text/javascript"></script>

    <script language="javascript">
    $(document).ready(function () {
      //moment.locale('id');
      $('#btn_back').on('click', function () {
        //$('#title_header').html('User');
        //$('#panel_editor').hide();
        //$('#panel_creator').hide();
        //$('#btn_tambah_data').show();
        //$("#panel_list").show();
        loadData();
      });

        function loadData() {
            console.log('load data');
        $.ajax({
            url:  '/Admin/GetAllDataAgama',
          type: 'post',
          dataType: 'json',
          data: {
              __RequestVerificationToken: gls_antiforgerytoken(),
          }
        }).done(function (result) {
          if (result.status) {
              table_data.clear().draw();
              table_data.rows.add(result.data).draw();
          }
          else {
           // glsUI.showMessage('ERROR', 'Maaf, proses penyimpanan data gagal \nMessage: ' + result.message, 'error', 'btn-danger');
          }
        })
      }

        var table_data = $('#table_data').DataTable({
        responsive: true,
        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
        "language": {
          "aria": {
            "sortAscending": ": activate to sort column ascending",
            "sortDescending": ": activate to sort column descending"
          },
          "emptyTable": "No data available in table",
          "info": "Showing _START_ to _END_ of _TOTAL_ entries",
          "infoEmpty": "No entries found",
          "infoFiltered": " - filtered from _MAX_ records",
          "lengthMenu": "_MENU_ entries",
          "search": "Search:",
          "zeroRecords": "No matching records found"
        },

        "order": [
          [0, 'asc']
        ],

        "lengthMenu": [
          [5, 10, 20, -1],
          [5, 10, 20, "All"]
        ],
        // set the initial value
        "pageLength": 5,

        columns: [
          { data: 'm_agama_id' },
          { data: 'nama_agama' },
          { data: null }
        ],
        columnDefs: [
          {
            targets: -1,
            width: '15%',
            data: null,
            defaultContent: '<center><button class="btn btn-sm btn-primary tooltips btn-edit" data-original-title="Edit" title="Edit" data-toggle="modal" data-target="#modal_form">E</button> ' +
            '<button class="btn btn-sm btn-primary tooltips btn-delete" data-original-title="Delete" title="Delete">D</button></center>'
          }
        ],
        filter: true,
        orderMulti: true,
      });
        loadData();
        $('#btn_tambah_data').on('click', function () {
            //alert('test');
            $('m_agama_id').val('');
            $('nama_agama').val('');

        });

        $('#btn_simpan_data').on('click', function () {
            //if (error == 0) {
            //alert
            $.ajax({
                url: '/Admin/SimpanDataAgama',
                type: 'post',
                dataType: 'json',
                data: {
                    __RequestVerificationToken: gls_antiforgerytoken(),
                    m_agama_id: $('#m_agama_id').val(),
                    nama_agama: $('#nama_agama').val(),
                }
            }).done(function (result) {
                if (result.status === false) {
                    //glsUI.showMessage('ERROR', 'Maaf, proses penyimpanan data gagal \nMessage: ' + result.message, 'error', 'btn-danger');
                }
                else {
                    //glsUI.showNotif('Success', result.message, 'info');
                    $("#btn_kembali").click();
                }
            })
                .fail(function (xhr, status, error) {
                    //glsUI.showMessage('ERROR', 'Maaf, proses penyimpanan data gagal \nMessage: ' + error, 'error', 'btn-danger');
                })
                .always(function () {

                });
            //}
            loadData();
        });

        $('#table_data tbody').on('click', '.btn-delete', function () {
            var data = table_data.row($(this).parents('tr')).data();
            if (confirm('Are you sure you want to delete ' + data.nama_agama + '?') === true) {
                $.ajax({
                    method: "POST",
                    url: 'HapusDataAgama',
                    data: {
                        __RequestVerificationToken: gls_antiforgerytoken(),
                        id: data.m_agama_id
                    }
                })
                    .done(function (result) {
                        if (result.status === false) {
                            //glsUI.showMessage('ERROR', 'Delete User failed \nMessage: ' + result.message, 'error', 'btn-danger');
                        }
                        else {
                            //glsUI.showNotif('Success', 'User has been deleted', 'info');
                        }
                    })
                    .fail(function (xhr, status, error) {
                        //glsUI.showNotif('Error', 'Failed', 'error');
                    })
                    .always(function (status) {
                        $("#btn_back").click();
                    });
                loadData();
            }
        });

        $('#table_data tbody').on('click', '.btn-edit', function () {
            //clear_validate_from("form_creator");

            //$('#title_header').html('Ubah User');
            var data = table_data.row($(this).parents('tr')).data();
            $('#nama_agama').val(data.nama_agama);
            $('#m_agama_id').val(data.m_agama_id);

           
        });

        });


        function gls_antiforgerytoken() {
            var token = $('input[name="__RequestVerificationToken"]').val();
            return token;
        }
    </script>
    }